* {
    padding: 0;
    margin: 0;
}

h2 {
    text-align: center;
    color: deepskyblue;
}
h3 {
    text-align: center;
    color: #ffcccc;
}
h4 {
    text-align: center;
    color: #ffcccc;
}

.wrapper {
    width: 850px;
    height: 850px;
    margin: 50px auto;
    border: 1px solid deepskyblue;
    position: relative;
}

.wrapper::after {
    content: '';
    position: absolute;
    left: 50%;
    top: calc(50% + 20px);
    width: 50%;
    background-color: dodgerblue;
    height: 2px;
}

.year,.month,.day,.week,.hour,.minute,.second {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: right;
    transform-origin: 0 0;
    transition: transform 0.5s;
}

.year {
    width: 60px;
    color: darkturquoise;
}

.month {
    width: 100px;
    color: aqua;
}

.day {
    width: 150px;
    color: turquoise;
}

.week {
    width: 230px;
    color: deepskyblue;
}

.hour {
    width: 300px;
    color: cyan;
}

.minute {
    width: 350px;
    color: dodgerblue;
}

.second {
    width: 400px;
    color: deepskyblue;
}

.wrapper span {
    position: absolute;
    width: 100%;
    left: 0;
    transform-origin: 0 0;
    transition: transform 0.5s;
}
